body,
html {
  
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: black;
  color: white;
  height: 1080px;
  padding: 20px;
}